PORT=5000
MONGO_URI=mongodb://localhost:27017/GreenCheck
NODE_ENV=development
JWT_SECRET=change_me
FRONTEND_URL=http://localhost:3000

# Réinitialisation mot de passe (nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
